#def {
  color: #800000;
  font-size: 30px;
    font-family: 'Titillium Web', sans-serif;
}
#deflink {                   /*A többi link kódjai */
  color: #800000;
  border: 0px;
  padding: 0px;
  text-align: justify;
  text-decoration: underline;
  border-radius: 0px;
  -webkit-transition-duration: 0;
  transition-duration: 0;
}
#abelh {
  color: 	#DC143C;
}
#abelprojektek {
  color: #B22222;
}
a:link, a:visited {   /*A projektlinkek alaphelyzet kódjai */
background-color: transparent;
 color: black;
 border: 2px solid #DC143C;
 padding: 20px 45px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 -webkit-transition-duration: 0.4s;
 transition-duration: 0.4s;
 border-radius: 8px;
  font-family: 'Titillium Web', sans-serif;
}
a:hover, a:active {     /*A projektlinkek hover kódjai */
  background-color: red;
 color: white;
}
#container {
  font-family: 'Titillium Web', sans-serif;
  margin: 15px;
}
@media screen and (min-width : 750px) {   /*Az eszközről eszközre változó allign scriptek kezdete */
#content{float:left;width:60%;}
#sidebar{float:right;width:35%}
}

@media screen and (min-width : 481px) and (max-width : 749px) {
#content{width:95%;}
#sidebar{width:95%;}
}
img {
    max-width: 100%;
}
iframe, object, embed{
width: 100%;
}         /* És vége */
#csopkep1 {
    position: absolute;
    right: -15px;
    border-radius: 8px;
    margin-right: 20px;
    height: 200px;
    width: 350px;
}
#projektek {
  color: 	#8B0000;
}
#projtitle {
font-size: 45px;
}
body {
  background-color: grey;
}
#tagok {
  color: #8B0000;
  padding: 0px;
  font-size: 30px;
  font-family: 'Titillium Web', sans-serif;
}
#tagokH {
  color: #8B0000;
  padding: 0px;
  font-size: 30px;
  font-family: 'Titillium Web', sans-serif;
  font-weight: bold;
}
